{% extends "!page.html" %}

{% block body %}
    {{ timestamp(metadata.formatted_date) }}
    {% block buttons %}
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
    {{ body }}
    {{ post_meta(metadata) }}
    {{ comments }}
{% endblock %}

{%- block extrahead -%}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@NorsteinBekkler" />
    <meta property="og:title" content="{{ shorttitle }}" />
    <meta property="og:description" content="{{ title|striptags|e }}" />
    <meta property="og:url" content="http://www.nanao-a.com/blog/html/{{ pagename }}{{ file_suffix }}" />
    <body onload="loadOgpImg()" />
    <script type=text/javascript>
    <!--
    function loadOgpImg(){
        var img = document.images[0];
        var imgPath;
        if( img == null ) {
           imgPath = 'http://www.nanao-a.com/_image/ogp/lld.png';
        } else {
           imgPath = img.src; 
        }
        var meta;
        if (document.createElement && (meta = document.createElement('meta'))) {
            meta.property = "og:image";
            meta.content = imgPath;
        }
        document.getElementsByTagName('head')[0].appendChild(meta);
        var meta2;
        if (document.createElement && (meta2 = document.createElement('meta'))) { 
            meta2.property = "twitter:image";
            meta2.content = imgPath:
        }
        document.getElementsByTagName('head')[0].appendChild(meta2);
    }
    // -->
    </script>

{% endblock -%}

{% set script_files = script_files + ["_static/google_analytics.js"] %}
