{% extends "!page.html" %}

{% block body %}
    {{ timestamp(metadata.formatted_date) }}
    {% block buttons %}
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
    {{ body }}
    {{ post_meta(metadata) }}
    {{ comments }}
{% endblock %}

{%- block extrahead -%}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@NorsteinBekkler" />
    <meta property="og:title" content="{{ shorttitle }}" />
    <meta property="og:description" content="{{ title|striptags|e }}" />
    <meta property="og:url" content="http://www.nanao-a.com/blog/html/{{ pagename }}{{ file_suffix }}" />
    {% if title == 'ゆゆ式 Advent Calender 2014 3日目:メガネゆずこ' %}
        <meta property="og:image" content="http://www.nanao-a.com/_image/yuyushiki_ac/megane_yuzuko01.png" />
    {% elif title == 'Patisserie Cafe aminchi' %}
        <meta property="og:image" content="http://www.nanao-a.com/_image/aminchi/aminchi09.jpg" />
    {% elif title == 'ゆゆ式 Advent Calendar 2015 3日目:2015年の三上小又先生のゆゆ式絵まとめ' %}
        <meta property="og:image" content="http://www.nanao-a.com/_image/2015adventCalendar.png" /> 
    {% else %}
        <meta property="og:image" content="http://www.nanao-a.com/_image/ogp/lld.png" />
    {% endif %}
{% endblock -%}

{% set script_files = script_files + ["_static/google_analytics.js"] %}
