{% extends "minimal/layout.html" %}


{% block extrahead %}
    <script type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
    <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    <script type="text/javascript">
      Hatena.Star.Token = '9db4cf1b05d315b16218f1498cd747641271ee64';

      Hatena.Star.SiteConfig = {
        entryNodes: {
          'div.body': {
            uri: 'div.section_head div.buttons a.parmalink_for_star',
            title: 'div.section h1',
            container: 'div.section_head div.buttons span.hatenastar'
          }
        }
      };

    </script>
{% endblock %}
