body {
    background-color:white;
    margin-top: 30px
}

html {
    background-color:#3d3d3d
}

h2.tagline {
    font-size: 110%;
    margin: 0px;
    color: #778899;
    padding-bottom: 1em;
}

div.footer {
    margin-top: 40px;
    text-align: center;
    background-color:black;
    color: white;
    font-size:100%;
    font-style:bold;
    padding-bottom:1em;
    padding-top:1em
}

div.page_nav {
    background-color: black;
    font-size: 125%;
    font-weight: bold;
    height: 3em;
    line-height: 3em;
    width: 100%;
    padding-top:0.2em;
    padding-bottom:0.2em
}

div.highlight {
    padding: 0.001em;
    padding-left: 0.5em;
    margin: 0.2em;
    line-height: 1.2em;
}

div.gravatar {
    text-align:center;
}

div.header {
     border-bottom: 1px solid gray;
}
